<html>

    <body>
    
        <div class="card">
            <div class="encabezado">
                <h1 >MI CARRITO</h1>
                
            </div>
            
           
            <div  class="productos">
                <div class="">
                    <div  *ngFor="let pro of listacarrito"  class="product" >
                     <div class="tarjeta" >
                         <img src="{{pro.url_imagen}}" alt=" " />
                         <h3>{{pro.nombre}}</h3>
                         <h3>Q.{{pro.precio}}</h3>
                         <button class="btn btn-info" (click)="quitarCarrito(pro)">Eliminar del carrito</button>
                        
                         </div>
                    </div>
                </div>
         
            </div>
            
            <div align="center" class="encabezado">
                <button class="btn btn-info" onclick="location.href='/ordenes'" >CONFIRMAR ORDEN</button>
              
            </div>
            
        </div>
        
    </body>


</html>
