html, body{
    
  background-image: url("../../assets/crud.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  max-width: 100vw;
  font-family: "Numans", sans-serif;
  color:white;   
  
 }
 
 .card {    /* este es para la pantallita negra sobrepuesta*/
     margin-left: 50px;
     margin-bottom: auto;
     width: 1250px;
     background-color: rgba(0, 0, 0, 0.5) !important;
  
   }

   .product img {
    width: 300px;
    height: 200px;
    
    
    }
    .product h3{
      font-size: 1.7em;
      margin-top: 8px;
      margin-bottom: 7px;
     
     
    }
    .tarjeta {
      border-radius:4px;
      margin-left: 300px;
      margin-right: 300px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75), 0 1px 2px rgba(0, 0, 0, 0.75);
      text-align: center;
    }
   
    
    .encabezado h1{
      text-align: center;
    }
    .encabezado button{
      margin-right: 50px;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 300px;
      height: 75px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
    }
