<html>

    <body>
    
        <div class="card">
            <div class="encabezado">
                <h1 >MI CARRITO</h1> <br>
                
            </div>
            
           
            <div  class="productos">
                <div class="">
                    <div  *ngFor="let pro of listacarrito"  class="product" >
                     <div class="tarjeta" >
                        <img src="data:image/png;base64,{{pro.coverPage}}" alt=" " />
                         <h3>Titulo: {{pro.title}}</h3>
                         <h3>Precio Q.{{pro.price}}</h3>
                         <button class="btn btn-info" (click)="quitarCarrito(pro)">Eliminar del carrito</button>
                        
                         </div>
                    </div>
                </div>
         
            </div>
            
            <div align="center" class="encabezado">
                <button class="btn btn-info" (click)="crearPedido(1);" >CONFIRMAR ORDEN</button>
              
            </div>
            
        </div>
        
    </body>


</html>
