<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BookSA</a>
    <button class="navbar-toggler collapsed" type="button" (click)="toggleState()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngClass]="{ 'collapse': isCollapse }">
      <ng-container >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class=""*ngIf="this.tipouser == 0">
            <li class="nav-item" >
              <a class="nav-link" routerLink="/" routerLinkActive="active"
                >Inicio</a
              >
            </li>
          </div>

          <div class=""*ngIf="this.tipouser == 1">
            <li class="nav-item" >
              <a class="nav-link" routerLink="/usuarios" routerLinkActive="active"
                >Usuarios</a
              >
            </li>
          </div>

          <div class=""*ngIf="this.tipouser == 2">
            <li class="nav-item" >
              <a class="nav-link" routerLink="/libros" routerLinkActive="active"
                >Libros</a>
            </li>
          </div>

          <div class=""*ngIf="this.tipouser == 2">
            <li class="nav-item" >
              <a class="nav-link" routerLink="/solicitudes" routerLinkActive="active"
                >Solicitudes</a>
            </li>
          </div>

          <div class=""*ngIf="this.tipouser == 3">
            <li class="nav-item" >
              <a class="nav-link" routerLink="/solicitar" routerLinkActive="active"
                >Solicitar Libro</a>
            </li>
          </div>
          
        </ul>
      </ng-container>

      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!usuarioService.estaLog(); else log">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active"
              >Login</a
            >
          </li>
          <li>
            <a class="nav-link" id="separacion">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/registro" routerLinkActive="active"
              >Registro</a
            >
          </li>

         
          
        </ng-container>

        
        <ng-template #log>
          <li class="nav-item">
            <a class="nav-link" routerLink="/perfil-cliente" routerLinkActive="active"
              >Perfil</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              style="cursor: pointer"
              (click)="usuarioService.logOut()"
              >Logout</a
            >
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
