html, body{
    background: rgb(238, 212, 163);
  
   font-family: Georgia, 'Times New Roman', Times, serif;
   color:white;
   background-image: url("../../assets/libros.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
   max-width: 100vw;
   font-family: "Numans", sans-serif;
 
 }
 
 .eliminar{ /* Botón de Eliminar */
  background-color: #f44336;
  border-radius: 8px;
 }
 
 .editar{ /* Botón de Editar */
  background-color: #4CAF50;
  border-radius: 8px;
 }

 .crear{ /* Botón de Crear */
  background-color: #008CBA;;
  border-radius: 8px;
 }

 .card {    /* este es para la pantallita negra sobrepuesta*/
  
     margin-top: 20px;
     margin-left: 100px;
     margin-bottom: 30px;
     width: 1200px;
     background-color: rgba(0, 0, 0, 0.5) !important;
     text-align: center;
   }
 
 .product img {
 width: 200px;
 height: 200px;
 
 
 }
 .product h3{
   font-size: 1.7em;
   margin-top: 8px;
   margin-bottom: 7px;
  
 }
 .tarjeta {
   border-radius:4px;
   margin: 1em;
 
 /* Vertical | Horizontal */
 margin: 5% auto;
 
 /* Arriba | Horizontal | Abajo */
 margin: 1em auto 2em;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75), 0 1px 2px rgba(0, 0, 0, 0.75);
  
   text-align: center;
}

.libro {
    border-radius:4px;
    margin: 1em;
    background-color: black;

    /* Vertical | Horizontal */
    margin: 5% auto;

    /* Arriba | Horizontal | Abajo */
    margin: 1em auto 2em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75), 0 1px 2px rgba(0, 0, 0, 0.75);

    text-align: center;
}

.libro h6 {
    color: white
}

.aceptada {
    border-radius:4px;
    margin: 1em;
    background-color: skyblue;

    /* Vertical | Horizontal */
    margin: 5% auto;

    /* Arriba | Horizontal | Abajo */
    margin: 1em auto 2em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75), 0 1px 2px rgba(0, 0, 0, 0.75);

    text-align: center;
}

.aceptada h5 {
    color: black;
}

.importada {
    border-radius:4px;
    margin: 1em;
    background-color: darkblue;

    /* Vertical | Horizontal */
    margin: 5% auto;

    /* Arriba | Horizontal | Abajo */
    margin: 1em auto 2em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75), 0 1px 2px rgba(0, 0, 0, 0.75);

    text-align: center;
}

.empacada {
    border-radius:4px;
    margin: 1em;
    background-color: darkcyan;

    /* Vertical | Horizontal */
    margin: 5% auto;

    /* Arriba | Horizontal | Abajo */
    margin: 1em auto 2em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75), 0 1px 2px rgba(0, 0, 0, 0.75);

    text-align: center;
}

.empacada h5 {
    color: black;
}

.camino {
    border-radius:4px;
    margin: 1em;
    background-color: sandybrown;

    /* Vertical | Horizontal */
    margin: 5% auto;

    /* Arriba | Horizontal | Abajo */
    margin: 1em auto 2em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75), 0 1px 2px rgba(0, 0, 0, 0.75);

    text-align: center;
}

.camino h5 {
    color: black;
}
  
.entregada {
    border-radius:4px;
    margin: 1em;
    background-color: green;
  
  /* Vertical | Horizontal */
  margin: 5% auto;
  
  /* Arriba | Horizontal | Abajo */
  margin: 1em auto 2em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75), 0 1px 2px rgba(0, 0, 0, 0.75);
   
    text-align: center;
}
 
 .card h1{
   text-align: center;
 
 }
 .encabezado button{
   margin-right: 50px;
   text-align: right;
   background-image:url("../../assets/carrito2.jpg");
   width: 100px;
   height: 64px;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75), 0 1px 2px rgba(0, 0, 0, 0.75);
 }
 