<html>
<head>
    <style type="text/css" ref="" ></style>
</head>
<body>
    <div align="right" class="encabezado">
      
    </div>
    <div class="card">

        <div id="titulo">
            <h2 id="testProductos">ORDENES</h2>
        </div>
       
        <div  class="libros" >
            <div class="row">
                <div  *ngFor="let pro of listaordenes" class="col-xs-10 col-sm-6 col-md-4 product">
                    <div [ngClass]="{'aceptada': pro.estado == 1, 'importada' : pro.estado == 2, 'empacada': pro.estado == 3, 'camino': pro.estado == 4, 'entregada': pro.estado == 5 }">
                        <h5>Decripcion: </h5>
                        <div *ngFor="let n of pro.productos" class="libro">
                            <h6>{{n.nombre}}</h6>
                            <h6>Q.{{n.precio}}</h6>
                        </div>
                        <h5>Usuario: {{pro.usuario}}</h5>
                        <h5>Total: Q.{{pro.total}}</h5>
                        <select name="miselect" [(ngModel)]="pro.estado">
                            <option [value]="item.id" *ngFor="let item of estados">{{item.name}}</option>
                        </select>
                        <button class="editar" (click)="editarEstado(pro._id, pro.estado)">Guardar</button>
                    </div>
                </div>
            </div>
     
        </div>
        
    </div>

</body>
</html>

