<html>
<head>
    <style type="text/css" ref="" ></style>
</head>
<body>
    <div align="right" class="encabezado">
      
    </div>
    <div class="card">

        <div id="titulo">
            <h2 id="testProductos">USUARIOS</h2>
          </div>
          <br /><br />
       
        <div  class="libros" >
            <div class="row">
                <!--
                <div  *ngFor="let pro of lista_editorial" class="col-xs-10 col-sm-6 col-md-4 product">
                 <div class="tarjeta" >
                    <img src="data:image/png;base64,{{pro.coverPage}}" alt=" " />
                     <h5>{{pro.title}}</h5>
                     <h5>Q.{{pro.price}}</h5>
                     <h5>Unidades:{{pro.units}}</h5>
                     <button class="editar" 
                     (click)="editar(pro, contenidoEditar);">Editar</button>
                     <button class="eliminar" (click)="eliminarLibro(pro)">Eliminar</button>
                     </div>
                </div>
                -->
            </div>
     
        </div>
        
    </div>
</body>
</html>
